body {
  font-family: "Lora", serif;
  overflow-x: hidden;
  right: 0;
}

@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
}

/* Design */

.addons {
  position: absolute;
  left: 0;
  top: 0;
  width: 38vw;
  background-color: #fcf0a8;
  height: 100vh;
  z-index: -1;
}

@media (max-width: 768px) {
  .addons {
    height: 55vh;
  }
}

/* Main Boundary */

.boundary{
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Container Area */

.container {
  /* background-color: grey; */
  position: absolute;
  display: flex;
  justify-self: center;
  flex-direction: column;
  width: 80%;
}

@media (max-width: 768px) {
  .container {
    width: 90vw;
    margin: 0 auto;
  }
}

/* Top Container Area */

.top {
  margin-top: 5vh;
}

.top i {
  font-size: 5vh;
}

.top p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  column-rule-color: rgb(29, 29, 29);
  letter-spacing: 3.4px;
  font-size: 3vh;
  font-weight: 500;
}

/* Navbar */

.navbar {
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 3px;
  font-family: "Courier New", Courier, monospace;
  text-align: right;
}

@media (max-width: 768px) {
  .navbar {
    display: none;
  }
}

.navbar a {
  padding-left: 6vw;
  color: black;
}
.navbar a:first-child {
  padding-left: 0;
}

/* Content Area */

.content {
  margin-top: 15vh;
  text-align: justify;
  color: rgb(7, 0, 58);
}

@media (max-width: 768px) {
  .content {
    margin-top: 0;
    text-align: left;
  }
}

/* Content Styling */

.content h1 {
  font-size: 65px;
}

.content p {
  font-size: 25px;
}

.overview, .projects {
  border-bottom: 3px solid lightgrey;
  padding-bottom: 10vh;
}

.content div:first-child {
  border-bottom: none;
  padding-bottom: 0;
}

@media (max-width: 768px) {
  .content h1 {
    font-size: 40px;
  }

  .content p {
    font-size: 18px;
  }

  .overview, .projects {
    padding: 5vh 0;
    margin: 0;
  }
}

/* Title */

.title {
  text-align: right;
}

.title h1 {
  font-size: 70px;
  margin-top: 0px;
}

.title p {
  font-family: "Courier New", Courier, monospace;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 2px;
}

@media (max-width: 768px) {
  .title h1 {
    font-size: 50px;
  }

  .title p {
    font-size: 20px;
  }
}

/* Overview */

.overview {
  margin-top: 50vh;
}

.skills {
  margin-top: 10vh;
}

@media (max-width: 768px) {
  .overview{
    margin-top: 5vh;
  }
}


/* Projects */

.projects {
  margin-top: 10vh;
}

.projects h1 {
  text-align: right;
}

.project-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  width: 80vw;
  padding-left: 0;
}

.project-list li {
  height: auto;
  border: 1px solid orange;
  transition: 0.3s ease;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem 4rem;
  margin-bottom: 5vh;
  z-index: 0;
}
.project-list li:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.project-list .desc{
  display: flex;
  flex-direction: column;
  width: 25vw;
}
.project-list .material-icons:hover{ 
  background-color: orange;
  color: white;
  padding: 0.5rem;
  border-radius: 20px;
  transition: 0.3s ease;
}
.project-list li:has(.material-icons:hover) {
  transform: none;
}
.project-list h2{
  font-size: 4rem;
  letter-spacing: 3px;
  margin: 0;
}
.project-list p {
  font-size: 1.5rem;
  margin: 1vh 0;
}
.project-list #lang{
  font-family: 'Courier New', Courier, monospace;
  color: grey;
}

.project-list .cover{
  display: flex;
  justify-content: center;
  align-items: center;
}
.project-list img {
  width: 40vw;
  max-width: 650px;
}

@media (max-width: 768px) {
  .projects{
    margin-top: 0;
  }

  .project-list {
    flex-direction: column;
    width: 100%;
  }

  .project-list li {
    flex-direction: column;
    padding: 1.5rem 2rem;
  }

  .project-list .desc {
    width: 100%;
  }

  .project-list h2 {
    font-size: 3rem;
  }

  .project-list img {
    width: 100%;
    max-width: 100%;
  }

}

@media (max-width: 1000px) {
  .projects{
    margin-top: 0;
  }

  .project-list {
    flex-direction: column;
    width: 100%;
  }

  .project-list li {
    flex-direction: column;
    padding: 1.5rem 2rem;
  }

  .project-list .desc {
    width: 100%;
  }

  .project-list h2 {
    font-size: 3rem;
  }

  .project-list img {
    width: 100%;
    max-width: 100%;
  }

  .project-list .material-icons{ 
    background-color: orange;
    color: white;
    padding: 0.5rem;
    border-radius: 20px;
  }
}